{% extends 'base.html.twig' %}

{% block title %}Snowtricks - Connexion
{% endblock %}

{% block content %}
	<form method="post">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		{% if app.user %}
			<div class="mb-3">
				Bonjour
				{{ app.user.userIdentifier }},
				<a href="{{ path('app_logout') }}">Logout</a>
			</div>
		{% endif %}

		<div class="login-container" id="container">
			<div class="form-container sign-in-container">
				<div class="login-form">
					<h1>Se connecter</h1>
					<div class="social-container">
						<a href="#" class="social">
							<i class="fab fa-facebook-f"></i>
						</a>
						<a href="#" class="social">
							<i class="fab fa-google-plus-g"></i>
						</a>
						<a href="#" class="social">
							<i class="fab fa-linkedin-in"></i>
						</a>
					</div>
					<span>ou utilisez votre compte</span>
					<input type="text" value="{{ last_username }}" name="_username" class="form-control" autocomplete="username" required autofocus placeholder="Pseudo">
					<input type="password" name="_password" id="inputPassword" class="form-control" autocomplete="current-password" required placeholder="Mot de passe">
					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
					<a href="{{ path('app_forgot_password_request') }}"> Mot de passe oublié?</a>
					<button type="submit">Connexion</button>
					<a href="{{ path('app_register') }}" class="d-block d-sm-none mt-4">Vous n'avez pas encore de compte ? Inscrivez-vous</a>
				</div>
			</div>
			<div class="overlay-container">
				<div class="overlay">
					<div class="overlay-panel overlay-right">
						<h1>Bienvenue !</h1>
						<p>Vous n'avez pas encore de compte ? Créez-en un pour rejoindre la communauté Snowtricks</p>
						<a href="{{ path('app_register')}}" class="ghost" id="signUp">S'inscrire</a>
					</div>
				</div>
			</div>
		</div>
	</form>
{% endblock %}
