{% extends 'base.html.twig' %}

{% block title %}Snowtricks - Inscription{% endblock %}

{% block content %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class="login-container" id="container">
		<div class="form-container sign-in-container">
			{{ form_start(registrationForm) }}
			<h1>Créer un compte</h1>
			<div class="social-container">
				<a href="#" class="social">
					<i class="fab fa-facebook-f"></i>
				</a>
				<a href="#" class="social">
					<i class="fab fa-google-plus-g"></i>
				</a>
				<a href="#" class="social">
					<i class="fab fa-linkedin-in"></i>
				</a>
			</div>
			<span>ou utilisez votre email pour l'inscription</span>
			{{ form_widget(registrationForm.username, {'attr': {'placeholder': 'Pseudo'}}) }}
			{{ form_widget(registrationForm.email, {'attr': {'placeholder': 'Email'}}) }}
			{{ form_widget(registrationForm.plainPassword, {'attr': {'placeholder': 'Mot de passe'}}) }}
			{{ form_widget(registrationForm._token) }}
			<button type="submit">S'inscrire</button>
			{{ form_end(registrationForm, {'render_rest': false}) }}
		</div>
		<div class="overlay-container">
			<div class="overlay">
				<div class="overlay-panel overlay-right">
					<h1>Bon retour!</h1>
					<p>Vous avez déjà un compte ? Connectez-vous pour accéder à votre espace personnel</p>
					<a href="/connexion">
						<button class="ghost" id="signUp">Se connecter</button>
					</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
