{% extends "base.html.twig" %}

{% block title %}Modifier un trick{% endblock %}

{% block content %}
<div class="container">
  <h1 class="text-center mt-5">Modifier le trick</h1>         
  <div class="contentform">
      
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            
              {{ form_start(createForm, {'attr': {'class': 'wrapp'}}) }}
              <div class="form-group">
                <label class="label-form">Nom</label>
                {{ form_row(createForm.name, {'attr': {'class': 'form-control'}}) }}
              </div>

              <div class="row">   
                <div class= "col-md-12">
                  <div class="form-group">
                <label class="label-form">Catégorie</label>
                    {{ form_widget(createForm.category, {'attr': {'class': 'form-control'}}) }}
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label class="label-form">Description</label>
                {{ form_widget(createForm.description, {'attr': {'class': 'form-control'}}) }}
              </div>

              <div class="input-medias">
                <label class="label-form">Médias</label>
                <div class="collection-item-wrapper">
                  {% for media in createForm.medias %}
                  <div class="row mb-4 collection-item">
                    <div class="col-6">
                      <label class="">Url</label>{{ form_widget(media.url, {'attr': {'class': 'form-control'}}) }}
                      <label class="">Type</label>{{ form_widget(media.type, {'attr': {'class': 'form-control'}}) }}
                      <label class="">Main</label>{{ form_widget(media.main, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="col-5">
                      {% if media.type.vars.value == '0' %}
                      <img class="img-fluid" src="{{ media.url.vars.value }}">
                      {% else %}
                      <iframe src="{{ media.url.vars.value }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="height: -webkit-fill-available;"></iframe>
                      {% endif %}
                    </div>
                    <div class="col-1"><a href="#" class="remove-collection-item"><i class="fa fa-close"></i></a></div>
                  </div>
                  <hr>
                  {% endfor %}
                </div>
              </div>

              <div class="form-group">
                <label class="label-form">Ajouter un média</label>
              <ul class="tags"
                data-index="{{ createForm.medias|length > 0 ? createForm.medias|last.vars.name + 1 : 0 }}"
                data-prototype="{{ form_widget(createForm.medias.vars.prototype)|e('html_attr') }}"></ul>
              </ul>
              </div>

              {{ form_widget(createForm._token) }}
              <div class="form-group">
                <button type="submit" class="submit-form mt-4">Modifier</button>
              </div>
            {{ form_end(createForm, {'render_rest': false}) }}
          </div>
        </div>
      </div>
      <div class="btn btn-red"><a href="#delete-{{ trick.id }}" data-toggle="modal" data-target="#modal{{ trick.id }}" class="btn">Supprimer ce trick</a></div>
    
  </div>
</div>

<!-- Modal Suppression Trick -->
<div class="modal fade" id="modal{{ trick.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Suppression</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Êtes-vous sûr de vouloir supprimer ce trick ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-primary"><a href="{{ path('delete_trick', {id:trick.id}) }}">Confirmer</a></button>
      </div>
    </div>
  </div>
</div>
<!-- End Modal Suppression Trick -->
{% endblock %}
