{% extends 'base.html.twig' %}

{% block title %}Snowtricks - Détail{% endblock %}

{% block content %}
<!-- Hero Section  -->
{% set exist = false %}
    {% for media in trick.medias %}
        {% if media.main %}
            {% set exist = true %}
                <section id="hero-detail" class="d-flex align-items-center img-fluid" style="background-image: url('{{ media.url }}')">
        {% endif %}
    {% endfor %}
    {%  if exist == false and trick.medias is not empty %}
        <section id="hero-detail" class="d-flex align-items-center img-fluid" style="background-image: url('https://images.unsplash.com/photo-1478700485868-972b69dc3fc4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80')">
    {% endif %}
    {% if (trick.medias is empty) %}
        <section id="hero-detail" class="d-flex align-items-center img-fluid" style="background-image: url('https://images.unsplash.com/photo-1478700485868-972b69dc3fc4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80')">
    {% endif %}
    {% if app.user %}
    <div class="wrap-icons">
        <a href="{{ path('edit_trick', {id:trick.id}) }}"><i class="fas fa-pencil-alt fa-1x"></i></a>
        <a href="#delete-{{ trick.id }}" data-toggle="modal" data-target="#modal{{ trick.id }}"><i class="fas fa-trash-alt fa-1x ml-3"></i></a>
    </div>
    {% endif %}
    <div class="container text-center position-relative">
        <h1>{{ trick.name }}</h1>
    </div>
</section>
    <section class="pt-5 pb-5">
        <div class="container">

                <div id="trickMedia" class="row">

                    <div class="col-lg-6 col-md-12">
                        <div id="carouselPhotosControls" class="carousel-photo carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                {% for media in trick.medias %}
                                {% if media.type == 0 %}
                                    {% if media.main == 1 %}
                                    <div class="carousel-item active">
                                    {% else %}
                                    <div class="carousel-item">
                                    {% endif %}
                                        <img class="trick-medias img-media" src="{{ media.url }}" alt="Snowboard trick">
                                    </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                            <a class="carousel-control-prev" href="#carouselPhotosControls" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselPhotosControls" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div id="carouselVideosControls2" class="carousel carousel-video slide" data-ride="carousel">
                            <div class="carousel-inner">
                                {% for media in trick.medias %}
                                    {% if media.type == 1 %}
                                        {% if loop.index0 %}
                                        <div class="carousel-item active">
                                        {% else %}
                                        <div class="carousel-item">
                                        {% endif %}
                                        <iframe class="trick-medias" src="{{ media.url }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <a class="carousel-control-prev" href="#carouselVideosControls2" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselVideosControls2" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                    
                </div>
        </div>
        <div class="text-center" id="seeMedia">
            <button class="btn mt-3">Voir les médias</button>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="text-center">
                <p>Catégorie: <span class="detail-category">{{ trick.category }}</span></p>
            </div>
            <div>
                <p class="text-center">{{ trick.description }}</p>
            </div>
        </div>
    </section>

<!-- Comments -->   
<div class="container">
    <div class="col-md-12 pl-0 pr-0">
        <div class="comments">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="text-center mb-4">Commentaires</h3>
        
                    {% if app.user %}
                    {{ form_start(commentForm) }}
                        <div class="row flex-column">
                            <div class="form-group mx-auto">
                                {{ form_widget(commentForm.content, {'attr': {'placeholder': 'Votre commentaire'}}) }}
                            </div>
                            <div>
                                <input type="hidden" name="id_trick" value="{{ trick.name }}">
                                <input type="hidden" name="id_" value="{{ trick.name }}">
                            </div>
                            <button type="submit" id="comment-btn" class="btn btn-block btn-comment mb-4">Publier</button>
                        </div>
                    {{ form_end(commentForm) }}
                    {% else %}
                    <p class="text-center">Vous devez vous connecter pour pouvoir commenter.</p>
                    {% endif %}
                </div>
            </div>  
            <div class="entry-comments">
            <h6 class="mb-30">{{ trick.comments | length }} commentaires</h6>    

                <ul class="entry-comments-list list-unstyled">
                    {% for comment in comments %}
                    <li>
                    <div class="entry-comments-item">
                        <img src="https://geo.img.pmdstatic.net/fit/https.3A.2F.2Fi.2Epmdstatic.2Enet.2Fgeo.2F2022.2F05.2F04.2F7243db50-2e3e-46c9-a002-03fdd6885b8e.2Ejpeg/1200x630/cr/wqkgR2V0dHkgSW1hZ2VzIC8gR0VP/qui-est-le-quokka-surnomme-lanimal-le-plus-heureux-du-monde.jpg" class="entry-comments-avatar" alt="Avatar">
                            <div class="entry-comments-body">
                                <span class="entry-comments-author">{{ comment.user }}</span>
                                <span class="comment-date">{{ comment.date | date('d/m/Y à h:i') }}</span>
                                <p class="comment-content">{{ comment.content }}</p>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                <div class="container">
                    <div class="row">
                        <div class="d-flex mx-auto align-items-center justify-content-center">
                            {{ knp_pagination_render(comments) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Comments -->   

<!-- Modal Suppression Trick -->
<div class="modal fade" id="modal{{ trick.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Suppression</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Êtes-vous sûr de vouloir supprimer ce trick ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
          <button type="button" class="btn btn-primary"><a href="{{ path('delete_trick', {id:trick.id}) }}">Confirmer</a></button>
        </div>
      </div>
    </div>
  </div>
  <!-- End Modal Suppression Trick -->
{% endblock %}
